:root{
    --primary-color: #f8b02d;
    --red-color: #e00000;
    --red-dark-color: #9a3324;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #000;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Animation */
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes FadeInUp{
    from{
        opacity: 0;
        transform: translateY(48px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes HeaderBagGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.content.margin-top{
    margin-top: 130px;
}

.content.content-background-color{
    background-color: #f8f9fa;
}

.product-img.product-img-height{
    height: 384px;
}

.product-img.margin-bottom-44{
    margin-bottom: 44px;
}

.product{
    text-align: center;
    opacity: 1;
    transition: 0.4s;
}

.product-link{
    text-decoration:  none;
    color: black;
}

.product:hover{
    opacity: 0.92;
    transition: 0.4s;
}

.product-img{
    width: 100%;
    height: 344px;
    transition: transform 0.3s ease;
    display: block; 
    background-size: contain;
}

.product:hover .product-img{
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.product-name{
    font-size: 20px;
    margin: 4px 0 16px 0;
    color: var(--text-color);
    position: relative;
}

.product-name::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 82%;
    background-color: var(--black-color);
    top: -22px;
    left: 37px;
}

.product-type{
    font-size: 18px;
    margin-bottom: 22px;
    color: var(--primary-color);    
}

.product-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}

.product-info div{
    display: flex;
    font-size: 20px;
}

.product-price{
    font-size: 20px;
    color: var(--red-color);
}

.product-icon{
   
}

.product-amount{
    margin-left: 4px;
}

